li {
    margin-top: 10px;
}

li:first-child {
    margin-top:0;
}

body {
    background: white;
}
.footer {
    position: absolute;
    height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
}

.dashboard {
    border: 1px solid black;
}

h5 {
    font-family: "Bebas Neue", serif;
    font-weight: bold;
}

.about_text {
    font-size: 20px;
}

a {
    font-size: large;
}

a:hover {
    cursor: pointer;
}

.page_button {
    border: 2px solid black;
}

.page_header {
    color: black;
}


/*SPINNER CSS */
@keyframes spinner-line-fade-more {
  0%, 100% {
    opacity: 0; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-quick {
  0%, 39%, 100% {
    opacity: 0.25; /* minimum opacity */
  }
  40% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-default {
  0%, 100% {
    opacity: 0.22; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}
