files:
  "/etc/cron.d/mycron":
    mode: "000644"
    owner: root
    group: root
    content: |
      0 0 * * * root /usr/local/bin/run_scripts.sh

  "/usr/local/bin/run_scripts.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      # set cwd to folder where eb stored the app latest deploy
      cd `find / -name "cron_tasks.py" -exec dirname {} \;`
      source ../env

      py="/opt/python/run/venv/bin/python"
      $py cron_tasks.py
      exit 0


commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/mycron.bak"