{% extends 'base.html' %}
{% block content %}
<div class="row mt-5">
    <div class="col">
        <h2>About <span style="color: darkred;">Genius</span><span style="color: rebeccapurple;">Bidding</span></h2>
        <hr>
        <p class="about_text">Genius Bidding is a <strong>free to use</strong> market research tool to help you make the most of your
            eBay experience. Whether buying or selling, we will make it easy for you to understand your marketplace
            as the shopper experiences it.
        </p>
        <p class="about_text">
            <strong>It's this simple</strong>:
        </p>
        <ol style="font-size: 20px;">
            <li>Enter keywords that describe the item you want to buy/sell.</li>
            <li><i>Optionally</i>: choose search criteria from a set of drop down menus
                to more accurately reflect your target market.</li>
                <ul style="margin-top:10px;">
                    <li>limit the results by listing type (auction, fixed price, etc.)</li>
                    <li>sort the results (by best match, popularity, etc.)</li>
                    <li>set minimum and maximum prices</li>
                    <li>limit the result by item condition (new, used, etc.)</li>
                </ul>
            <li>Click 'Get Item Data' to return your results!</li>
        </ol>
        <p class="about_text">
            <strong>What you'll get:</strong>
        </p>
        <ul style="font-size: 20px;">
            <li>Key Statistics</li>
            <li>Helpful Visualizations</li>
            <li>Excel & CSV Downloads</li>
        </ul>
        <p class="about_text">We also provide you with a table of the most popular items (based on your search) with
            corresponding images and links to the items on eBay. Genius Bidding gives you important information on currently listed items from
            sellers located in the United States.
        </p>
        <h1>UNDER CONSTRUCTION</h1>
    </div>
</div>
{% endblock %}