{% extends 'base.html' %}
{% block content %}
<div class="row mt-5">
    <div class="col">
        <h2>About <span style="color: darkred;">Genius</span><span style="color: rebeccapurple;">Bidding</span></h2>
        <hr>
        <p class="about_text">Genius Bidding is a free to use market research tool for people interested in researching eBay's listings.
            Genius Bidding allows you to get important information on currently listed items from
            sellers located in the United States and delivers that information to you through:
        </p>
        <ul style="font-size: 20px;">
            <li>Key Statistics</li>
            <li>Helpful Visualizations</li>
            <li>Excel & CSV Downloads</li>
        </ul>
        <p class="about_text">We also provide you with a table of the most popular items (based on your search) with
            corresponding images and links to the items on eBay.
        </p>
    </div>
</div>
{% endblock %}