{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='about_page/about.css') }}">
<div class="row mt-5">
    <div class="col">
        <div class="row align-items-center">
            <div class="flex-column d-flex p-2">
                <h2>Genius Bidding</h2>
            </div>
            <div class="flex-column d-flex p-2">
                <img src="{{ url_for('static', filename='home_page_images/gavel.png') }}"
                             alt="gavel" class="img-fluid" id="gavel" width="85px;">
            </div>
        </div>
        <p class="about_text">Genius Bidding is a free to use market research tool to help
            optimize buying and selling on <span style="color: hotpink">e</span><span style="color: deepskyblue">b</span><span style="color: palevioletred">a</span><span style="color: cadetblue">y</span>.
            Genius Bidding allows you to search by keyword, category and more to gather data and statistics on the products you care about.
        </p>
    </div>
</div>
<div class="row mt-3 mb-3 pb-4 pt-3" style="background-color: #e9ecef;">
    <div class="col">
        <h4 style="color:#5D737E;">Track trends in price, availability, interest and more</h4>
        <img class="img-fluid" src="{{ url_for('static', filename='home_page_images/price_trend.png') }}" id="price_trend"
            alt="plot of price trending">
        <script>
            screenWidth = window.innerWidth / 1.5;
            document.getElementById('price_trend').width = screenWidth.toString();
        </script>
    </div>
</div>
<div class="row mt-0">
    <div class="col">
        <p class="about_text">Registered users can set up to three searches to run automatically,
            twice per week, and easily track trends in product pricing, consumer interest, and items available.
        </p>
    </div>
</div>
<div class="row mt-0">
    <div class="col">
        <p class="about_text">Users can also instantly get key statistics on the current market as well as see how items are being
            listed, and which items are drawing the most consumer attention.
        </p>
    </div>
</div>
<div class="row mt-3 mb-3 pb-4 pt-3" style="background-color: #e9ecef;">
    <div class="col">
        <h4 style="color:#5D737E;">See what the most popular items are and how they're being marketed</h4>
        <img class="img-fluid" src="{{ url_for('static', filename='home_page_images/comp2.png') }}" id="composition"
            alt="image of item characteristics">
        <script>
            screenWidth = window.innerWidth / 1.5;
            document.getElementById('composition').width = screenWidth.toString();
        </script>
    </div>
</div>
<div class="row mt-0">
    <div class="col">
        <p class="about_text">
            Specifically, you'll get:
        </p>
        <ul style="font-size: 20px;">
            <li>Key Statistics: median price, minimum and maximum price, average price,
                 the name of the top seller, total items available, % of items with a top rated listing, and more.
            </li>
            <li>An ordered table of the Most Popular Items : the number of item watchers,
                images of the items, when the auctions end, and links to view the items on eBay.
            </li>
            <li>Interactive Visualizations: a map of seller locations, a chart of the top
                sellers and key statistics on them, plots of price distribution, a chart of item characteristics, and more.
            </li>
            <li>CSV Downloads: the ability to download a dataset with more than 50 variables
                describing each item.</li>
        </ul>
        <p class="about_text">For all of your searches, key statistics are saved and accessible via a
            table on your account page whenever you want them. For the marketplaces you're most interested in,
            you can set a search to recur automatically twice per week.</p>
        <p class="about_text"> Over time, Genius Bidding will track your recurring search results and
            provide you a dashboard on your 'trends' page to show you how key marketplace characteristics are
            changing over time (e.g. how prices and the number of listed items are increasing/decreasing).</p>
        <hr>
        <h2>FAQs</h2>
        <br>
        <p class="about_text" style="color: rebeccapurple;">What items are included in the results?</p>
        <p class="about_text">Genius Bidding gives you important information on currently listed items from
            <i>sellers located in the United States</i>.
        </p>
        <p class="about_text" style="color: rebeccapurple;">Why do I need to register?</p>
        <p class="about_text">A couple of reasons: (1) Genius Bidding is most useful it if is used over time to
            track a particular product marketplace and you can only access that specific data over time if
            it can be attached to a unique account. (2) To ensure eBay's API limits are adhered to by setting a reasonable
            upper limit for each user's daily search count.
        </p>
        <p class="about_text" style="color: rebeccapurple;">How do you make money?</p>
        <p class="about_text">Genius Bidding is not-for-profit.</p>
        <p class="about_text" style="color: rebeccapurple;">Do you advertise?</p>
        <p class="about_text">No, there are no advertisements on this site and the only data
            Genius Bidding maintains are from your searches on this site and your account details.</p>
        <p class="about_text" style="color: rebeccapurple;">Where is my confirmation email?</p>
        <p class="about_text">If you didn't receive your registration/other email within a minute or two
            check if it is in your spam folder.</p>
        <p>Other questions/concerns? <a href="{{ url_for('auth.contact') }}">Get in touch</a></p>
    </div>
</div>
{% endblock %}