{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='account_page/account.css') }}">
<div class="row mt-3">
    <div class="col">
        <h5><span style="color: darkred;">username</span>: {{ current_user.email }}</h5>
        <h5><span style="color: darkred;">account created</span>: {{ current_user.registered_on.strftime('%m-%d-%Y') }}
        </h5>
        <h5><span style="color: darkred;">total searches</span>: {{ number_searches }}</h5>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" style="margin-top: 0;">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
               aria-selected="true">recent searches</a>
          </li>
          <li class="nav-item" style="margin-top: 0;">
            <a class="nav-link" id="recur-tab" data-toggle="tab" href="#recurTab" role="tab" aria-controls="recurTab"
               aria-selected="false">recurring searches</a>
          </li>
          <li class="nav-item" style="margin-top: 0;">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
               aria-selected="false">manage account</a>
          </li>
        </ul>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              {% if search_results %}
              <div class="row mt-3">
                  <div class="col">
                    <button type="button" class="btn btn-primary page_button"
                            onclick="toggleRecurVisibility();">Set Recurring Search
                    </button>
                  </div>
              </div>
              <div class="row mt-3 mb-5">
                  <div class="col">
                        <div class="table-responsive">
                            <table class="table table-responsive" style="border-bottom-style: solid">
                                <tr class="table thead-dark">
                                    <th>id</th>
                                    <th>keywords</th>
                                    <th>search time</th>
                                    <th>listing type</th>
                                    <th>average price</th>
                                    <th>median price</th>
                                    <th>price range</th>
                                    <th>total entries</th>
                                    <th>total watch count</th>
                                    <th>top seller</th>
                                </tr>
                                {% for search, result in search_results %}
                                    <tr>
                                        <td>{{ search.id }}</td>
                                        <td>{{ search.keywords }}</td>
                                        <td>{{ search.time_searched.strftime('%Y-%m-%d %H:%M') }}</td>
                                        <td>{{ search.listing_type }}</td>
                                        <td>${{ result.avg_price }}</td>
                                        <td>${{ result.median_price }}</td>
                                        <td>${{ result.min_price }}-${{ result.max_price }}</td>
                                        <td>{{ result.total_entries }}</td>
                                        <td>{{ result.total_watch_count }}</td>
                                        <td>{{ result.top_seller }}</td>
                                        <td class="hideRecurring">
                                            <button type="button" class="btn btn-sm btn-success" value="{{ search.id }}"
                                                    id="recurring_boxes" onclick="setRecurringSearch(this.value)">select
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col form-inline">
                    {% if prev_url %}
                    <a href="{{ prev_url }}" style="margin-right: 8px;"><button class="btn btn-dark">See Newer</button></a>
                    {% endif %}
                    {% if next_url %}
                    <a href="{{ next_url }}"><button class="btn btn-dark">See Older</button></a>
                    {% endif %}
                </div>
            </div>
            {% else %}
            <div class="row mt-3">
                <div class="col">
                    <h2>no recent searches available...</h2>
                </div>
            </div>
            {% endif %}
          </div>
          <div class="tab-pane fade" id="recurTab" role="tabpanel" aria-labelledby="recur-tab">
                <div class="row mt-3">
                    <div class="col-md-8">
                        <h5>Recurring Searches</h5>
                        {% if recurring_searches %}
                            <p>The following recurring searches are currently active:</p>
                        {% else %}
                            <p>You don't have any active recurring searches at the moment.</p>
                        {% endif %}
                    </div>
                    {% if recurring_searches %}
                    <div class="col">
                        <button type="button" class="btn btn-danger page_button"
                                onclick="toggleRecurVisibility();">Stop Recurring Search
                        </button>
                    </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col">
                        <div class="table-responsive">
                            <table class="table table-responsive" style="border-bottom-style: solid">
                                <tr class="table thead-dark">
                                    <th>ID</th>
                                    <th>Keywords</th>
                                    <th>First Search Date</th>
                                    <th>Times Searched</th>
                                </tr>
                                {% if recurring_searches %}
                                {% for recur, search in recurring_searches %}
                                <tr id="recur_{{ recur.id }}">
                                    <td>{{ search.id }}</td>
                                    <td>{{ search.keywords }}</td>
                                    <td>{{ search.time_searched.strftime('%Y-%m-%d') }}</td>
                                    <td>{{ recur.recurring_ids.all() | length }}</td>
                                    <td class="hideRecurring">
                                        <button type="button" class="btn btn-sm btn-danger" value="{{ recur.id }}"
                                                id="recurStops" onclick="stopRecurringSearch(this.value)">stop
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </div>
          </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="profile-tab">
              <div class="row mt-3 mb-5">
                <div class="col-md-4">
                    <h3 class="page_header">change password</h3>
                    <form method="POST" action="{{ url_for('main.account') }}">
                        {{ password_form.csrf_token }}
                        <div class="row mt-3">
                            <div class="col">
                                <div class="form-group">
                                    {{ password_form.old_password(class="form-control", placeholder="current password...") }}
                                </div>
                                <div class="form-group">
                                    {{ password_form.password(class="form-control", placeholder="new password...") }}
                                </div>
                                <div class="form-group">
                                    {{ password_form.confirm_password(class="form-control", placeholder="confirm password...") }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-success btn-sm page_button">change password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
          </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='account_page/account.js') }}"></script>
</div>
{% endblock %}