{% extends 'base.html' %}
{% block content %}
<div class="row mt-3">
    <div class="col">
        <h2 class="page_header">my account</h2>
        <h5>{{ current_user.email }}</h5>
        <h5>Account created: {{ current_user.registered_on }}</h5>
    </div>
</div>
{% if searches %}
<div class="row mt-3">
    <div class="col-6">
        <h3 class="page_header">recent searches</h3>
        <table class="table table-striped table-bordered">
            <tr class="table-info">
                <th>id</th>
                <th>keywords</th>
                <th>search time</th>
                <th>average price</th>
                <th>items returned</th>
            </tr>
            {% for search, result in searches %}
            <tr>
                <td>{{ search.id }}</td>
                <td>{{ search.keywords }}</td>
                <td>{{ search.time_searched }}</td>
                <td>${{ result.avg_price }}</td>
                <td>{{ result.returned_count }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-4">
        <h3 class="page_header">change password</h3>
        <form method="POST" action="{{ url_for('main.account', user_id=current_user.id) }}">
            {{ password_form.csrf_token }}
            <div class="row mt-3">
                <div class="col">
                    <div class="form-group">
                        {{ password_form.old_password(class="form-control", placeholder="current password...") }}
                    </div>
                    <div class="form-group">
                        {{ password_form.password(class="form-control", placeholder="new password...") }}
                    </div>
                    <div class="form-group">
                        {{ password_form.confirm_password(class="form-control", placeholder="confirm password...") }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-info btn-sm page_button">change password</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}