{% extends 'base.html' %}

{% block content %}
{% if form.errors %}
    <ul class=errors>
        {% for name, error in form.errors.items() %}
            <li><span style="color:red;">{{ name }}: {{ error[0] }}</span></li>
        {% endfor %}
    </ul>
{% endif %}
<div class="row">
    <div class="col">
        <form method="POST" action="{{ url_for('main.home') }}">
            {{ form.csrf_token }}
            <div class="row mt-3">
                <div class="col-4">
                    <div class="form-group">{{ form.keywords_include.label }}:
                        {{ form.keywords_include(class="form-control", placeholder="Enter Keywords") }}</div>
                    <div class="form-group">{{ form.keywords_exclude.label }}:
                        {{ form.keywords_exclude(class="form-control", placeholder="optional") }}</div>
                </div>
                <!--MIN & MAX PRICE-->
                <div class="col">
                    <div class="form-group">{{ form.maximum_price.label }}:
                        {{ form.maximum_price(class="form-control", placeholder="optional") }}</div>
                    <div class="form-group">{{ form.minimum_price.label }}:
                        {{ form.minimum_price(class="form-control", placeholder="optional") }}</div>
                </div>
                <!--Sort Order of Results-->
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <label>Sort Order of Results:</label>
                            <select class="form-control" id="item_sort" name="item_sort">
                                <option value="BestMatch">Best Match</option>
                                <option value="CurrentPriceHighest">Highest Price First</option>
                                <option value="BidCountMost"> Highest Bid Count</option>
                                <option value="BidCountFewest">Bid Count Fewest</option>
                                <option value="EndTimeSoonest">End Time Soonest</option>
                                <option value="StartTimeNewest">Start Time Newest</option>
                                <option value="WatchCountDecreaseSort">Highest Watch Count</option>
                            </select>
                        </div>
                    </div>
                    <!--Listing TYPE-->
                    <div class="row mt-3">
                        <div class="col">
                            <label for="listing_type">Listing Type:</label>
                            <select class="form-control" id="listing_type" name="listing_type">
                                <option value="" selected>All Listing Types</option>
                                <option value="Auction">Auction</option>
                                <option value="StoreInventory">Store Inventory</option>
                                <option value="FixedPrice">Fixed Price</option>
                                <option value="AuctionWithBIN">Auction (w/ Buy Now)</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!--SELLER LOCATION-->
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <label for="condition">Item Condition:</label>
                            <select class="form-control" id="condition" name="condition">
                                <option value="" selected>All Conditions</option>
                                <option value="1000">New</option>
                                <option value="Unspecified">Unspecified</option>
                                <option value="1750">New (w/ defects)</option>
                                <option value="2000">Manufacturer Refurbished</option>
                                <option value="2500">Seller Refurbished</option>
                                <option value="3000">Used</option>
                                <option value="4000">Very Good</option>
                                <option value="5000">Good</option>
                                <option value="6000">Acceptable</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-success btn-lg">Get Item Data!</button>
                </div>
            </div>
        </form>
    </div>
</div>
<hr>
{% if tab_data %}
<div class="row mt-3">
    <div class="col">
        <h5>Result Summary</h5>
    </div>
</div>
<div class="row">
    <div class="col">
        <img src="{{ url_for('static', filename='icons/item_img.png') }}" class="img-fluid" alt="Responsive image"
            style="width:20px;float:left;margin-right:5px;">
        <p>Items in Search: <strong>{{ stats['returned_count'] }}</strong></p>
        <img src="{{ url_for('static', filename='icons/item_img.png') }}" class="img-fluid" alt="Responsive image"
            style="width:20px;float:left;margin-right:5px;">
        <p>Total Items Available: <strong>{{ total_entries }}</strong></p>
        <a href="{{ url_for('main.get_csv') }}"><p>Download the Full Dataset</p></a>
        <a href="{{ page_url }}"><p>See all of the items on eBay!</p></a>
    </div>
    <div class="col">
        <img src="{{ url_for('static', filename='icons/seller_icon.png') }}" class="img-fluid" alt="Responsive image"
            style="width:20px;float:left;margin-right:5px;">
        <p>Top Seller: <strong>{{ stats['top_seller'] }}</strong></p>
        <img src="{{ url_for('static', filename='icons/seller_icon.png') }}" class="img-fluid" alt="Responsive image"
            style="width:20px;float:left;margin-right:5px;">
        <p>Top Seller Item Count: <strong>{{ stats['top_count'] }}</strong></p>
    </div>
    <div class="col">
        <img src="{{ url_for('static', filename='icons/avg_price.png') }}" class="img-fluid" alt="Responsive image"
            style="width:20px;float:left;margin-right:5px;">
        <p>Average price of all items: <strong>${{ stats['avg_price'] }}</strong></p>
        <img src="{{ url_for('static', filename='icons/top_rated.png') }}" class="img-fluid" alt="Responsive image"
            style="width:20px;float:left;margin-right:5px;">
        <p>% Items from Top Rated Seller: <strong>{{ stats['top_rated'] }}%</strong></p>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <div id="tab_location"></div>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <h5>Price Distribution</h5>
        <hr>
        <div id="histData" class="d-flex justify-content-center"></div>
    </div>
    <div class="col">
        <h5>Price Distribution (by Listing Type)</h5>
        <hr>
        <div id="dfTypePlot" class="d-flex justify-content-center"></div>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <h5>Seller Location Map</h5>
        <hr>
        <div id="usaMAP" class="d-flex justify-content-center"></div>
    </div>
    {% if make_sunburst %}
        <div class="col">
            <h5>Item Aspect Counts</h5>
            <hr>
            <div id="sunBurst" class="d-flex justify-content-center"></div>
        </div>
    {% endif %}
</div>
<!--TODO: change 'df' to more descriptive name-->
<script>var df_type = {{ df_type|tojson }};
        var df_hist = {{ hist_plot|tojson }};
        var df = {{ map_plot|tojson }};
        var make_sunburst = {{ make_sunburst|tojson }};
        var tab_data = {{ tab_data | tojson }};
</script>
<script src="{{ url_for('static', filename='home.js') }}"></script>
<script src="{{ url_for('static', filename='boxplot_price.js') }}"></script>
<script src=" {{ url_for('static', filename='usa_map.js') }}"></script>
{% endif %}

{% endblock %}