{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home_page_images/home.css') }}">
<div class="row justify-content-center mt-2">
    <div class="col text-center">
        <img src="{{ url_for('static', filename='home_page_images/brain.png') }}" id="brain" alt="image of brain">
    </div>
</div>
<div class="row justify-content-center">
    <div class="col text-center">
        <img src="{{ url_for('static', filename='home_page_images/logotext.png') }}" id="logo_text" alt="genius bidding text">
    </div>
    <script>
        document.getElementById('logo_text').width = String(window.innerWidth / 3.5);
        document.getElementById('brain').width = String(window.innerWidth / 5.5);
    </script>
</div>
<div class="row">
    <div class="col text-center">
        <h2>a market research tool for
            <span style="color: hotpink">e</span><span style="color: deepskyblue">b</span><span style="color: palevioletred">a</span><span style="color: cadetblue">y</span>
        </h2>
    </div>
</div>
<div class="row ml-5 mr-5 mt-3">
    <div class="col text-center">
        <h4>Get smart about what's selling with the ability to:</h4>
        <p style="font-size: 20px"> Track prices and market indicators through customized and automated search
            results. Gain insights into top sellers, how they're marketing their products, and important trends.
        </p>
    </div>
</div>
<div class="row mt-3">
    <div class="col text-center">
        <div id="dfTypePlot"></div>
        <img src="{{ url_for('static', filename='home_page_images/homepage_sunburst.png') }}" id="sunburst_home"
            alt="sunburst plot">
        <script>
            screenWidth = window.innerWidth / 6;
            document.getElementById('sunburst_home').width = screenWidth.toString();
        </script>
    </div>
    <div class="col text-center">
        <img src="{{ url_for('static', filename='home_page_images/homepage_map.png') }}" id="map_home"
            alt="usa map plot">
        <script>
            screenWidth = window.innerWidth / 4;
            document.getElementById('map_home').width = screenWidth.toString();
        </script>
    </div>
    <div class="col text-center">
        <img src="{{ url_for('static', filename='home_page_images/homepage_bar.png') }}" id="seller_home"
            alt="bar plot image">
        <script>
            screenWidth = window.innerWidth / 4;
            document.getElementById('seller_home').width = screenWidth.toString();
        </script>
    </div>
</div>
<div class="row ml-5 mr-5 mt-3">
    <div class="col text-center">
        <p style="font-size: 20px">Navigate an intuitive dashboard with interactive visualizations and key statistics. Download full data sets
            from all of your searches and conduct custom analysis. Identify the most popular items and link directly to them on ebay.
            Best of all, <strong>do it all for FREE</strong>.</p>
    </div>
</div>
<br><br>
<div class="row mt-2">
    <div class="col text-center">
        <h2>free data and analysis to <span style="color: #9C1A1C">shop</span> & <span style="color: #9C1A1C">sell</span>
            <i>smarter</i></h2>
    </div>
</div>
<div class="row mt-3">
    <div class="col text-center">
        <a class="button btn-success btn-lg page_button" role="button" href="{{ url_for('auth.register') }}">
            Register Now!
        </a>
    </div>
</div>
<div class="row mt-3">
    <div class="col text-center">
        <p>Already registered? <a href="{{ url_for('auth.login') }}">Login</a></p>
    </div>
</div>
<br><br>
<hr>
<div class="row mt-5">
    <div class="col">
        <p style="font-size: 20px;">Set your searches to <i>run automatically</i> and <strong>we'll track the trends</strong>
            for you</p>
        <br>
        <p style="font-size: 20px;">Download <strong>unique data sets</strong> with <i>50+ variables</i></p>
    </div>
    <div class="col text-center">
        <img src="{{ url_for('static', filename='home_page_images/mac_genius.png') }}" id="genius_computer"
             alt="image of bidding search screen">
        <script>
          screenWidth = window.innerWidth / 3.5;
          document.getElementById('genius_computer').width = screenWidth.toString();
        </script>
    </div>
    <div class="col">
        <p style="font-size: 20px;">Get <strong>key statistics</strong> on <i>price and sellers</i></p>
        <br>
        <p style="font-size: 20px;">Search by <strong>keyword and category</strong> with <i>customizable filters</i></p>
    </div>
</div>
<br><br>
<hr>
<div class="row mt-5">
    <div class="col text-center">
        <h2>Not convinced?</h2>
    </div>
</div>
<div class="row mt-3">
    <div class="col text-center">
        <a class="button btn-primary btn-lg page_button" role="button" href="{{ url_for('main.about') }}">Click here to learn more</a>
    </div>
</div>
{% endblock %}