{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-6">
        <form method="POST" action="{{ url_for('main.login') }}">
            {{ form.csrf_token }}
            <div class="form-group">{{ form.email.label }}
                {{ form.email(class="form-control", placeholder="Enter Email") }}</div>
            <div class="form-group">{{ form.password.label }}
                {{ form.password(class="form-control", placeholder="Enter Password") }}</div>
            <button type="submit" class="btn btn-success btn-lg">Start Searching!></button>
        </form>
    </div>
</div>
{% endblock %}