{% extends 'base.html' %}

{% block content %}
{% if form.errors %}
<ul class=errors>
{% for name, error in form.errors.items() %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <span>Problem with {{ name }}: {{ error[0] }}. Try your search again.</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}
</ul>
{% endif %}
<div class="row mt-3">
    <div class="col">
        <div id="top_search_page"></div>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <h3 class="page_header">Search <span style="color: hotpink">e</span><span style="color: deepskyblue">B</span><span style="color: palevioletred">a</span><span style="color: cadetblue">y</span></h3>
        <h5>choose your search criteria</h5>
    </div>
</div>
<div class="row">
    <div class="col">
        <form id="mainForm" name="mainForm" onsubmit="return false">
            {{ form.csrf_token }}
            <div class="row mt-3">
                <div class="col-4">
                    <div class="form-group">
                        <label><strong>Keywords to include<span style="color: red; vertical-align: top; font-size: 10px;">✱</span>:</strong></label>
                        {{ form.keywords_include(class="form-control", placeholder="Enter Keywords") }}</div>
                    <div class="form-group"><strong>{{ form.keywords_exclude.label }}</strong>
                        {{ form.keywords_exclude(class="form-control", placeholder="optional") }}</div>
                </div>
                <!--MIN & MAX PRICE-->
                <div class="col">
                    <div class="form-group"><strong>{{ form.maximum_price.label }}</strong>
                        {{ form.maximum_price(class="form-control", placeholder="optional") }}</div>
                    <div class="form-group"><strong>{{ form.minimum_price.label }}</strong>
                        {{ form.minimum_price(class="form-control", placeholder="optional") }}</div>
                </div>
                <!--Sort Order of Results-->
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <label for="item_sort"><strong>Sort Results by:</strong></label>
                            <select class="form-control" id="item_sort" name="item_sort">
                                <option value="BestMatch">Best Match</option>
                                <option value="CurrentPriceHighest">Highest Price First</option>
                                <option value="BidCountMost"> Highest Bid Count</option>
                                <option value="BidCountFewest">Bid Count Fewest</option>
                                <option value="EndTimeSoonest">End Time Soonest</option>
                                <option value="StartTimeNewest">Start Time Newest</option>
                                <option value="WatchCountDecreaseSort">Highest Watch Count</option>
                            </select>
                        </div>
                    </div>
                    <!--Listing TYPE-->
                    <div class="row mt-3">
                        <div class="col">
                            <label for="listing_type"><strong>Listing Type:</strong></label>
                            <select class="form-control" id="listing_type" name="listing_type">
                                <option value="All" selected>All Listing Types</option>
                                <option value="Auction">Auction</option>
                                <option value="StoreInventory">Store Inventory</option>
                                <option value="FixedPrice">Fixed Price</option>
                                <option value="AuctionWithBIN">Auction (w/ Buy Now)</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!--SELLER LOCATION-->
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <label for="condition"><strong>Item Condition:</strong></label>
                            <select class="form-control" id="condition" name="condition">
                                <option value="" selected>All Conditions</option>
                                <option value="1000">New</option>
                                <option value="Unspecified">Unspecified</option>
                                <option value="1750">New (w/ defects)</option>
                                <option value="2000">Manufacturer Refurbished</option>
                                <option value="2500">Seller Refurbished</option>
                                <option value="3000">Used</option>
                                <option value="4000">Very Good</option>
                                <option value="5000">Good</option>
                                <option value="6000">Acceptable</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <label for="items_to_pull"><strong># of Items to return:</strong></label>
                            <select class="form-control" id="items_to_pull" name="items_to_pull">
                                <option value=1 selected>100 items</option>
                                <option value=5>500 items</option>
                                <option value=10>1000 items</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <button type="submit" class="btn btn-success btn-lg page_button" id="searchButton">
                        Get Item Data!</button>
                </div>
                <div class="col">
                    <div id="loading_spinner"></div>
                    <script src="{{ url_for('static', filename='node_modules/spin.js/spin.js') }}"></script>
                </div>
            </div>
        </form>
    </div>
</div>
<hr>
<div style="display: none;" id="hideDashBoard">
    <div class="row mt-3">
        <div class="col">
            <h3 class="page_header">Result Summary</h3>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <img src="{{ url_for('static', filename='icons/item_img.png') }}" class="img-fluid" alt="Responsive image"
                style="width:20px;float:left;margin-right:5px;">
            <p>Items in Search: <strong><span id="returned_count"></span></strong></p>
            <img src="{{ url_for('static', filename='icons/item_img.png') }}" class="img-fluid" alt="Responsive image"
                style="width:20px;float:left;margin-right:5px;">
            <p>Total Items Available: <strong><span id="total_entries"></span></strong></p>
            <img src="{{ url_for('static', filename='icons/top_rated.png') }}" class="img-fluid" alt="Responsive image"
                style="width:20px;float:left;margin-right:5px;">
            <p>% Items w/ Top Rated Listing: <strong><span id="top_rated_listing"></span>%</strong></p>
{#            TODO: add new visibility logic for the presence of these categories#}
{#            {%  if 'largest_cat_name' in stats.keys() %}#}
            <img src="{{ url_for('static', filename='icons/categories.png') }}" class="img-fluid" alt="Responsive image"
                 style="width:20px;float:left;margin-right:5px;margin-top:4px;">
            <p>Largest Category: <strong><span id="largest_cat_name"></span><br>
                (<span id="largest_cat_count"></span> items)</strong></p>
{#            {% endif %}#}
        </div>
        <div class="col">
            <img src="{{ url_for('static', filename='icons/seller_icon.png') }}" class="img-fluid" alt="Responsive image"
                style="width:20px;float:left;margin-right:5px;">
            <p>Top Seller: <strong><span id="top_seller"></span></strong></p>
            <img src="{{ url_for('static', filename='icons/seller_icon.png') }}" class="img-fluid" alt="Responsive image"
                style="width:20px;float:left;margin-right:5px;">
            <p>Top Seller Item Count: <strong><span id="top_seller_count"></span></strong></p>
            <img src="{{ url_for('static', filename='icons/top_rated.png') }}" class="img-fluid" alt="Responsive image"
                style="width:20px;float:left;margin-right:5px;">
            <p>% Items from Top Rated Seller: <strong><span id="top_rated_percent"></span>%</strong></p>
{#TODO ADD LOGIC TO CHECK HERE#}
{#            {%  if 'largest_sub_name' in stats.keys() %}#}
            <img src="{{ url_for('static', filename='icons/categories.png') }}" class="img-fluid" alt="Responsive image"
                 style="width:20px;float:left;margin-right:5px;margin-top:4px;">
            <p>Largest Subcategory: <strong><span id="largest_sub_name"></span><br>
                (<span id="largest_sub_count"></span> items)</strong></p>
{#            {% endif %}#}
        </div>
        <div class="col">
            <img src="{{ url_for('static', filename='icons/avg_price.png') }}" class="img-fluid" alt="Responsive image"
                style="width:20px;float:left;margin-right:5px;">
            <p>Average price of items: <strong>$<span id="avg_price"></span></strong></p>
            <img src="{{ url_for('static', filename='icons/avg_price.png') }}" class="img-fluid" alt="Responsive image"
                style="width:20px;float:left;margin-right:5px;">
            <p>Median price of items: <strong>$<span id="median_price"></span></strong></p>
            <img src="{{ url_for('static', filename='icons/avg_price.png') }}" class="img-fluid" alt="Responsive image"
                style="width:20px;float:left;margin-right:5px;">
            <p>Price range: <strong>$<span id="min_price"></span>-$<span id="max_price"></span></strong></p>
            <img src="{{ url_for('static', filename='icons/avg_price.png') }}" class="img-fluid" alt="Responsive image"
                style="width:20px;float:left;margin-right:5px;">
            <p>Average shipping price: <strong>$<span id="avg_shipping_price"></span></strong></p>
            <img src="{{ url_for('static', filename='icons/binoculars.png') }}" class="img-fluid" alt="Responsive image"
                style="width:20px;float:left;margin-right:5px;">
            <p>Total Watch Count: <strong><span id="total_watch_count"></span></strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <a class="btn btn-success page_button" href="{{ url_for('main.get_csv') }}">Download the Full Dataset</a>
            <p class="mt-2">
                <a href="" target="_blank" style="color: red;" id="search_url">click here</a> to see the results on ebay
            </p>
        </div>
    </div>
    <hr>
    <div class="row mt-3">
        <div class="col">
            <h3 class="page_header">dashboard</h3>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col" style="display: none;" id="hideMap">
            <div class="card bg-secondary shadow p-3 mb-5 bg-white rounded">
                <h4 class="card-header">seller locations by county</h4>
                <div class="card-body">
                    <div id="usaMAP" class="d-flex justify-content-center"></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-secondary shadow p-3 mb-5 bg-white rounded">
                <h4 class="card-header">largest sellers</h4>
                <div class="card-body">
                    <div id="sellerBar" class="d-flex justify-content-center"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="card bg-secondary shadow p-3 mb-5 bg-white rounded">
                <h4 class="card-header">price distribution</h4>
                <div class="card-body">
                    <div id="histData" class="d-flex justify-content-center"></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-secondary shadow p-3 mb-5 bg-white rounded">
                <h4 class="card-header">items by listing type</h4>
                <div class="card-body">
                    <div id="dfPie" class="d-flex justify-content-center"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="card bg-secondary shadow p-3 mb-5 bg-white rounded">
                <h4 class="card-header">price distribution (by listing type)</h4>
                <div class="card-body">
                    <div id="dfTypePlot" class="d-flex justify-content-center"></div>
                </div>
            </div>
        </div>
        <div style="display: none;" id="hideSunBurst">
            <div class="col">
                <div class="card bg-secondary shadow p-3 mb-5 bg-white rounded">
                    <h4 class="card-header">listed item characteristics</h4>
                    <div class="card-body">
                        <div id="sunBurst" class="d-flex justify-content-center"></div>
                        <p class="card-text text-center mt-2">click the inside labels of the pie to enlarge each
                            aspect</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="card bg-secondary shadow p-3 mb-5 bg-white rounded">
                <h4 class="card-header">days of availability</h4>
                <div class="card-body">
                    <div id="lengthBar" class="d-flex justify-content-center"></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-secondary shadow p-3 mb-5 bg-white rounded">
                <h4 class="card-header">price by listing type</h4>
                <div class="card-body">
                    <div id="boxPrice" class="d-flex justify-content-center"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <hr>
            <h3 class="page_header">popular items</h3>
            <h5>sorted by <strong>highest watch count</strong></h5>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div id="tab_location"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='search_page/search.js') }}" type="module"></script>
</div>
{% endblock %}