{% extends 'base.html' %}
{% block content %}
<div class="row mt-5 ml-3 mr-3">
    <div class="col-md-6">
        <h2>Login</h2>
        <form method="POST" action="{{ url_for('auth.login') }}">
            {{ form.csrf_token }}
            <div class="form-group mt-3"><strong>{{ form.email.label }}</strong>
                {{ form.email(class="form-control", placeholder="Enter Email") }}</div>
            <div class="form-group mb-1"><strong>{{ form.password.label }}</strong>
                {{ form.password(class="form-control", type="password", placeholder="Enter Password") }}</div>
            <div class="form-check mt-0">
                <input type="checkbox" class="form-check-input" id="remember_me" name="remember_me">
                <label class="form-check-label" for="remember_me">remember me</label>
            </div>
            <div class="form-group mt-2">
                <p style="color: blue;">Forgotten password?
                    <a href="{{ url_for('auth.password_reset') }}" style="color: red;">click here</a></p>
            </div>
            <button type="submit" class="btn btn-success btn-lg">Start Searching!</button>
        </form>
    </div>
</div>
{% endblock %}