{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-6">
        <form method="POST" action="{{ url_for('auth.password_reset') }}">
            {{ form.csrf_token }}
            <div class="form-group">{{ form.email.label }}
                {{ form.email(class="form-control", placeholder="Enter Email") }}</div>
            <div class="form-group">{{ form.confirm_email.label }}
                {{ form.confirm_email(class="form-control", placeholder="Confirm Email") }}</div>
            <button type="submit" class="btn btn-success btn-lg">Change password</button>
        </form>
    </div>
</div>
{% endblock %}