{% extends 'base.html' %}
{% block content %}
<div class="row mt-5 ml-5">
    <div class="col">
        <h2 class="page_header">reset password</h2>
        <h5>enter your email to receive a link to reset your password</h5>
    </div>
</div>
<div class="row mt-3 ml-5">
    <div class="col-6">
        <form method="POST" action="{{ url_for('auth.password_reset') }}">
            {{ form.csrf_token }}
            <div class="form-group">{{ form.email.label }}
                {{ form.email(class="form-control", placeholder="Enter Email") }}</div>
            <div class="form-group">{{ form.confirm_email.label }}
                {{ form.confirm_email(class="form-control", placeholder="Confirm Email") }}</div>
            <button type="submit" class="btn btn-success btn-lg">Change password</button>
        </form>
    </div>
</div>
{% endblock %}